h1{
    color:blue;
}


.div-img img{
    width: 50px !important;
    height: 50px !important;
}

a{
    display: block;
    font-size: 20px;
}

#create-form1 .span-validate {
    display: none;
}

.btn-category.clickChange
{
    background-color: blue;
    color: white;
}

